@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

body{
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
p{

    color: white;

font-family: 'Merriweather', serif;
font-size: 15px;


}

a{

    font-family: 'Merriweather', serif;
    font-size: 15px;


}

.nav-link:hover {

    font-size: larger;
 text-shadow:  5px 5px 5px black;

 

}




  .texthome{
    font-family: 'Merriweather', serif;



} 

#bannermenu{
    height: 70px;

}

h1{

font-family: 'Merriweather', serif;
font-size: 30px;
text-shadow: 1px 1px 1px black;
    color: #198cff;} 

    h3{

        font-family: 'Merriweather', serif;
    
        text-shadow: 1px 1px 1px black;
            color: #198cff;

            }


            h5{

                font-family: 'Merriweather', serif;
            
                text-shadow: 1px 1px 1px black;
                    color: #2271b3;
                font-weight: bold;} 
       

                #topo {
                    position: fixed;
                    bottom: 50px;
                    right: 30px;
          
                
                }
        #rodape2{
            font-family: 'Merriweather', serif;
            font-size: 15px;
        }


        .card-text1{

            font-family: 'Merriweather', serif;
    
                color: #2271b3;
                font-size: 13px;
        }

        .form-check-label{
            
            font-family: 'Merriweather', serif;
            color: white;
            font-size: 12px;

        }

label{
     font-family: 'Merriweather', serif;
            color: white;

}
       

        .btnhome{
            position: absolute;
            bottom: 70px;
            right: 55px;

        } 

        .menuinicio{
            height: 400px;
background-color: whitesmoke;
margin-top: 4px;
background-image: url(img/fundoinicio.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

        }

        .card-img1{

            height: 500px;
        }

        .link{
            color: #2271b3;
        }

    /*     .um{
            color: #2271b3;;
        }
 */

        .card1{
      border-radius: 7px;

 background-color:  white;
        }   

       .badge{
               font-family: 'Merriweather', serif;
               background-color:  #2271b3; }
